* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

html {
  background: #d95550;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

body {
  width: 70vw;
  margin: auto;
  height: 900px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
}

nav .logo h3 {
  margin-left: 5px;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

nav .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  color: white;
  padding: 5px 9px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #ada5a450;
  border-radius: 5px;
}

nav .links .link:hover {
  background: #b64642;
}

nav .links .link i {
  margin-right: 5px;
}

.progress-bar {
  width: 100%;
  height: 2px;
  background: rgba(153, 144, 144, 0.603);
}

.progress-bar .inside-progress-bar {
  height: 100%;
  background: white;
  width: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.main .timer {
  width: 80%;
  background: #c7c4c452;
  color: white;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
}

.main .timer .session-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
}

.main .timer .session-type p {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.main .timer .session-type p:first-of-type {
  background: #df7977;
}

.main .timer #time {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
}

.main .timer #start-stop {
  padding: 7px 40px;
  width: 140px;
  background: white;
  color: #d95550;
  border: 1px solid rgba(255, 255, 255, 0.418);
  display: inline-block;
  border-radius: 5px;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin: 10px 0;
}

.main .current-task {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

.main .current-task .task-number {
  color: #f0bbb9;
}

.main .current-task .task-name {
  color: white;
}

.main .tasks-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: white;
  width: 80%;
}

.main .tasks-heading i {
  background: #b6afaf59;
  padding: 10px 15px;
  border-radius: 7px;
}

.main .tasks-heading p {
  font-weight: 700;
  font-size: 18px;
}

.main .add-task {
  background: #bbbbbb5b;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e0cecd;
  font-weight: 700;
  height: 70px;
  border-radius: 7px;
  border: 2px #db9491 dashed;
  margin-bottom: 20px;
  cursor: pointer;
  width: 80%;
}

.main .add-task i {
  margin-right: 7px;
}

.main .tasks {
  margin-top: 5px;
  width: 80%;
  color: white;
}

.main .tasks .tasks-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.main .tasks .tasks-heading i {
  background: #eb7874;
  padding: 10px 15px;
  border-radius: 7px;
}

.main .tasks .tasks-heading p {
  font-weight: 700;
  font-size: 18px;
}

.main .task {
  width: 100%;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  margin-bottom: 15px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main .task:hover {
  background: #f0efef;
}

.main .task.selected {
  border-left: 5px solid black;
}

.main .task .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.main .task .left i {
  margin-right: 10px;
  font-size: 20px;
  color: grey;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.main .task .left i:hover {
  color: #db9491;
}

.main .task .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  opacity: 0.7;
  cursor: default;
}

.main .task .right i {
  margin-left: 15px;
  border: 1px solid grey;
  padding: 5px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.main .task.completed {
  color: gray;
}

.main .task.completed .left p {
  text-decoration: line-through;
}

.main .add-task-form {
  width: 80%;
  height: 0;
  overflow: hidden;
  background: white;
  border-radius: 7px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 2px 7px 4px rgba(49, 49, 49, 0.315);
          box-shadow: 2px 2px 7px 4px rgba(49, 49, 49, 0.315);
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: none;
}

.main .add-task-form .top-container {
  padding: 20px;
}

.main .add-task-form .task-inp {
  width: 100%;
  height: 50px;
  font-size: 23px;
  font-weight: 700;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.main .add-task-form .pomo-count p {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.main .add-task-form .pomo-count .set-amount input {
  background: #EFEFEF;
  padding: 8px;
  margin: 0 5px 8px 0;
  width: 18%;
  border: none;
  outline: none;
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.main .add-task-form .pomo-count .set-amount i {
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
  color: gray;
  -webkit-box-shadow: 1px 1px 2px 1px #adaaaa;
          box-shadow: 1px 1px 2px 1px #adaaaa;
}

.main .add-task-form .add-note {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: gray;
  text-decoration: underline;
  margin-bottom: 5px;
}

.main .add-task-form .bottom {
  background: #EFEFEF;
  width: 100%;
  height: 60px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 0 0 7px 7px;
}

.main .add-task-form .bottom p {
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.main .add-task-form .bottom p.cancel-task {
  color: gray;
}

.main .add-task-form .bottom p.save-task {
  background: #b2b2b2;
  color: white;
  margin-left: 7px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */